---
kafka:
  cluster:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "kafka") }}
    productVersion: "4.2.1"
    # portal, config-adapter and kafka-ui connect to this address.
    bootstrapService: kafka-cluster-broker-default-bootstrap
    bootstrapPort: 9092
  ui:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "kafka") }}
    subdomain: kafka-ui
    pathPrefix: /
