---
{{- $this := .Values.nifi.bootstrap }}
{{- $nifi := .Values.nifi.nifi }}
{{- $global := .Values.global }}
# Values for the nifi-bootstrap Job (chart from civitas-core-deployment).
# It logs in to NiFi once and gives the admin users their permissions.
image:
  repository: {{ .Values.images.nifi.bootstrap.repository }}
  tag: {{ .Values.images.nifi.bootstrap.tag }}
  digest: {{ .Values.images.nifi.bootstrap.digest }}

nifi:
  url: {{ $nifi.url | quote }}
  insecureSkipVerify: true

# The Job gets its token from Keycloak inside the cluster.
oidc:
  tokenUrl: 'http://keycloak-app-keycloakx-http.{{ .Values.keycloak.app.namespace }}.svc.cluster.local.:80{{ .Values.keycloak.app.pathPrefix | trimSuffix "/" }}/realms/{{ $global.instanceSlug }}/protocol/openid-connect/token'
  clientId: nifi-bootstrap
  clientSecretRef:
    name: keycloak-client-nifi-bootstrap
    key: client-secret

identities:
  # People log in with their email address.
  humanAdmin: {{ $nifi.initialAdminEmail | quote }}
  configAdapter: nifi-config-adapter

linkerd:
  enable: {{ and ($global.serviceMesh.enable | default false) (eq ($global.serviceMesh.type | default "") "linkerd") }}

securityContext:
  {{ .Values.securityDefaults.securityContext | toYaml | nindent 2 }}

podSecurityContext:
  {{ .Values.securityDefaults.podSecurityContext | toYaml | nindent 2 }}